:root{
  --cor-secundaria: #000000;
  --cor-primaria: #b1aeaa;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

body{
  background-color: var(--cor-primaria);
}

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}