.mensagem{
  font-size: 1.2rem;
  text-align: justify;
  height: 100%;
  margin: auto;
  padding: 3%;
}

.title{
  font-size: 1.2rem;
  text-align: justify;
  height: 100%;
  margin: auto;
  padding: 3%;
  font-weight: 550;
}

.page{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
}

@media screen and (max-width: 500px) {
  .frase{
      font-size: 14px;
  }
}
