.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d5a31;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .botao {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .cachorro {
    width: 100%;
    height: auto;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navItem {
    margin: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: #333; /* Cor do texto */
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navLink:hover {
    background-color: #8cb493; /* Cor de fundo ao passar o mouse */
  }
  